
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Mooli&family=Playfair:ital@1&family=Poppins:wght@100&family=Ysabeau+Infant:ital,wght@1,300&family=Ysabeau+Office:ital,wght@1,300&family=Zilla+Slab:ital,wght@0,300;1,300;1,400&display=swap');

* {
    font-family: 'Mooli', sans-serif;
    /* padding: 0;
    margin: 0; */
    /* box-sizing: border-box; */
}

:root {
    --color-primary: #1fb2ed;
    /* --color-white:#e8e6e3; */
    --color-white:#fff;
    --color-white-light: #e8e6e3;
    --color-dark: #111319;
    --color-dark-light: #191c26;
    --color-dark-blue:#2c3249;
    --color-gray: #9d9487;
    --dark-hover-color:#37bcae;
    --dark-hightlight-color:#ff8787;

    --font-Mooli: 'Mooli', sans-serif;
    --font-ZillaSlab: 'Zilla Slab', serif;
    --font-Kalam: 'Kalam', cursive;

}
html,body{
    font-family: var(--font-Mooli);
}
body.dark{
    background-color: var(--color-dark-light);
    color: var(--color-white);
}
body.light{
    background-color: var(--color-white);
    color: var(--color-dark-light);
}
body .highlight-text{
    color: var(--dark-hightlight-color);
}
.loader{
    position:absolute;
    top:50%;
    left:calc(50% - 50px);
    height: 50px;
    width: 50px;
    animation: rotate 2s infinite;
}
.loader:before,.loader:after{
    border-radius: 50%;
    content:'';
    display: block;
    height: 20px;
    width: 20px;
}
.loader:before{
    animation:ball1 2s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}
.loader:after{
    animation:ball2 2s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg) scale(0.8);
    }
    50%{
        transform: rotate(360deg) scale(1.2);
    }
    100%{
        transform: rotate(720deg) scale(0.8);
    }
}
@keyframes ball1{
    0%{
        box-shadow: 30px 0 0 #f8b334;
    }
    50%{
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
    }
    100%{
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}
@keyframes ball2{
    0%{
        box-shadow: 30px 0 0 #97bf0d;
    }
    50%{
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        transform: translate(15px,15px);
    }
    100%{
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}

/* navbar  */
nav.navbar{
    padding:15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
body.dark  nav.navbar{
    background-color: var(--color-dark-light);
}
body.light  nav.navbar{
    background-color: var(--color-white-light);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
/* .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
} */
.wrapper{
    display: flex;
    width: 100%;  
}
/* sidebar  */
#sidebar{
    width: 0;
    position: fixed;
    top: 0;
    left: -20px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}
#sidebar.open{
    left: 250px;
    width: 250px;
    transition: width 0.5s;
}
#sidebarCollapse{
    position: fixed;
    top: 10px;
    left: 10px;
    transition: left 0.5s;
    opacity: 0.8;
}
#sidebarCollapse.open{
    left:260px;
}
#sidebarCollapse:hover{
    background-color: var(--dark-hightlight-color) !important;
}
body.dark  #sidebarCollapse{
    background-color: var(--dark-hover-color);
    border: 1px solid var(--dark-hover-color);
}
body.light  #sidebarCollapse{
    background-color: var(--dark-hover-color);
    border: 1px solid var(--dark-hover-color);
}
/* #sidebarCollapse.open{
    left:10px;
} */
#sidebar.open{
    margin-left:-250px;
}
.sidebar-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper{
    position:relative;
    height: 100px;
    width:100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
}
.image-wrapper::before{
    content:'';
    position: absolute;
    inset:-5px 30px;
    background:linear-gradient(315deg,#069dc3,#dc7bef);
    transition: 0.5s;
    animation: spinner 4s linear infinite;
}
.image-wrapper:hover::before{
    inset:-10px 0;
}
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.image-wrapper::after{
    content:'';
    position: absolute;
    inset:2px;
    background-color: #163052;
    border-radius: 50%;
    z-index:1;
}
.image-wrapper .image{
    position: absolute;
    inset: 1px;
    z-index: 3;
    border-radius: 50px;
    overflow: hidden;
}
body.dark .image-wrapper .image{
    border:6px solid #070a1c;
}
.image-wrapper .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}
.sidebar-header .name{
    margin-top: 15px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;
}
body.dark .social-icon{
    color: var(--color-white);
}
body.light .social-icon{
    color: var(--color-dark);
}
/* sidebar menus  */
.menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-item{
    list-style: none;
    text-align: left;
    width: 200px;
}
a.menu-link {
    text-decoration: none;
    display: block;
    box-shadow: 1px 1px 2px 1px cadetblue;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;  
}
body.dark a.menu-link{
    color: var(--color-white);
}
body.light a.menu-link{
    color: var(--color-dark);
}
a.menu-link.active{
    background-color: var(--dark-hover-color);
}
a.menu-link:hover{
    background-color: var(--dark-hover-color);
    color: white;
    transform: scale(1.1, 1);
}
a.menu-link .menu-icon{
    width:15%;
    margin-right:10px;
}
/* change dark/light theme */
.theme-container{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* margin: 10px; */
}
.change-theme-toggle{
    visibility: hidden;
}
body.light .change-theme-toggle{
    background-color: var(--color-dark);
    color: var(--color-white);
}
body.dark .change-theme-toggle{
    color: var(--color-dark);
    background-color: var(--color-white);
}

.change-theme-label{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid var(--dark-hover-color);
    
}
body.dark .change-theme-label{
    background-color: var(--color-dark);
}
body.light .change-theme-label{
    background-color: var(--color-white);
}
.theme-slider{
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 0px;
    right: 0px;
    bottom: 0;
    transition: .4s;
}
.theme-slider:before {
    position: absolute;
    content: "";
    
    height: 31px;
    width: 31px;
    left: 3px;
    top: 0.8px;
    transition: .4s;
    border-radius: 50%;
    border: 2px solid var(--dark-hover-color) !important;
}
body.dark .theme-slider:before{
    background-color: var(--color-dark-blue);
}
body.light .theme-slider:before{
    background-color: var(--color-white-light);
}
input:checked + .theme-slider:before{
    transform: translateX(39px);
}
body.light .theme-slider:before {
    border: 5px solid black;
}
body.dark .theme-slider:before {
    border: 5px solid white;
}
body.dark .theme-slider .sun{
    /* width: 0; */
    position: absolute;
    /* border: 2px solid var(--dark-hover-color); */
    padding: 7px 6px;
    width: 17px;
    height: 17px;
    right: 4px;
    border-radius: 50%;
    transition: right .4s;
}
body.light .theme-slider .moon{
    /* width: 0; */
    position: absolute;
    padding:6px;
    width: 17px;
    height: 17px;
    left: 4px;
    border-radius: 50%;
    transition: left .4s;
}
body.dark .theme-slider .moon{
    position: absolute;
    /* border: 2px solid var(--dark-hover-color); */
    padding:6px;
    width: 17px;
    height: 17px;
    left: 4px;
    border-radius: 50%;
    transition: left .4s;
}
body.light .theme-slider .sun{
    position: absolute;
    /* border: 2px solid var(--dark-hover-color); */
    padding: 7px 6px;
    width: 17px;
    height: 17px;
    right: 4px;
    border-radius: 50%;
    transition: right .4s;
}
/* content style  */
section{
    height: 100vh;
}
#content{
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: width 0.3s;
    position: absolute;
    top:0;
    right: 0;
}
#content.open{
    width: calc(100% - 250px);
    transition: width 0.5s ease;
}
body.dark #content{
    background-color: var(--color-dark);
}
body.light #content{
    background-color: var(--color-white);
}
#content.active {
    width: 100%;
}
/* home */
#home{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .typing{
    display: inline-block;
}

.typing-text{
    width: 100%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: var(--font-Mooli);
    font-size: 1.2em;
}
@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
        border-color: transparent
    }
} */

body.dark .dynamic-texts span.second-text:before{
    background-color: var(--color-dark);
}
body.light .dynamic-texts span.second-text:before{
    background-color: var(--color-white);
}


.intro-text{
    opacity:0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 0.5s ease;
}
body.dark .intro-text{
    color: var(--color-white-light);
}
body.light .intro-text{
    color: var(--color-dark-light);
}
.text-content{
    flex:0.8;
}
.image-content{
    flex:0.6;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-white-light) !important; */
}
.image-content img{
    width: 80%;
    border-radius: 10px;
}
.mobile-sidebar-main{
    display: none;
}
#about{
    height:100vh;
}
@media screen and  (max-width: 480px) {
    
    #sidebar{
        margin-left:-20px;
    }
    #content{
        width: 100%;
        padding:20px;
    }
    #content.open{
        width:calc(100% - 250px);
    }
    #sidebarCollapse{
        left: 10px;
        transition: left 0.5s;
    }
    #sidebarCollapse.open{
        left:260px;
    }
    
}
@media screen and  (max-width: 768px) {
    #sidebar{
        margin-left:-20px;
    }
    #content{
        width: 100%;
    }
    #content.open{
        width:calc(100% - 250px);
    }
    #sidebarCollapse{
        left: 10px;
        transition: left 0.5s;
    }
    #sidebarCollapse.open{
        left:260px;
    }
    .menu-item.home{
        display: none;
    }
    .desktop-sidebar-main{
        display: none;
    }
    .mobile-sidebar-main{
        display: block;
    }   
    .mobile-image-content img{
        width: 100%;
        height: 100%;
    }
    
}
@media screen and  (max-width: 1040px) {

}
@media screen and  (max-width: 1200px) {}
@media screen and  (max-width: 1600px) {}
