
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Mooli&family=Playfair:ital@1&family=Poppins:wght@100&family=Ysabeau+Infant:ital,wght@1,300&family=Ysabeau+Office:ital,wght@1,300&family=Zilla+Slab:ital,wght@0,300;1,300;1,400&display=swap');

* {
    font-family: 'Mooli', sans-serif;
    /* padding: 0;
    margin: 0; */
    /* box-sizing: border-box; */
}

:root {
    --color-primary: #1fb2ed;
    --color-white: #e8e6e3;
    --color-black: #191c26;
    --color-dark: #111319;
    --color-dark-blue:#394056;
    --color-gray: #9d9487;
    --font-color:#e8e6e3;
    --hover-color:rgb(142, 175, 237);
    --hightlight-color:#ff8787;

    --font-Mooli: 'Mooli', sans-serif;
    --font-ZillaSlab: 'Zilla Slab', serif;
    --font-Kalam: 'Kalam', cursive;

}
html,body{
    font-family: var(--font-Mooli);
    /* height:100vh; */
    background-color: var(--color-black);
    color: var(--font-color);
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
}
.loader{
    position:absolute;
    top:50%;
    left:calc(50% - 50px);
    height: 50px;
    width: 50px;
    animation: rotate 2s infinite;
}
.loader:before,.loader:after{
    border-radius: 50%;
    content:'';
    display: block;
    height: 20px;
    width: 20px;
}
.loader:before{
    animation:ball1 2s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}
.loader:after{
    animation:ball2 2s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg) scale(0.8);
    }
    50%{
        transform: rotate(360deg) scale(1.2);
    }
    100%{
        transform: rotate(720deg) scale(0.8);
    }
}
@keyframes ball1{
    0%{
        box-shadow: 30px 0 0 #f8b334;
    }
    50%{
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
    }
    100%{
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}
@keyframes ball2{
    0%{
        box-shadow: 30px 0 0 #97bf0d;
    }
    50%{
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        transform: translate(15px,15px);
    }
    100%{
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}

/* navbar  */
nav.navbar{
    padding:15px 10px;
    background-color: var(--color-black);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
/* .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
} */
.wrapper{
    display: flex;
    width: 100%;  
}
/* sidebar  */
#sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}
#sidebarCollapse{
    position: fixed;
    top: 10px;
    left: 260px;
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
    transition: all 0.3s;
}
#sidebarCollapse.active{
    left:10px;
}
#sidebar.active{
    margin-left:-250px;
}
.sidebar-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper{
    position:relative;
    height: 100px;
    width:100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
}
.image-wrapper:before{
    content:'';
    position: absolute;
    inset:-5px 30px;
    background:linear-gradient(315deg,#069dc3,#dc7bef);
    transition: 0.5s;
    animation:animate 4s linear infinite;
}
.image-wrapper:hover::before{
    inset:-10px 0;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.image-wrapper:after{
    content:'';
    position: absolute;
    inset:2px;
    background-color: #163052;
    border-radius: 50%;
    z-index:1;
}
.image-wrapper .image{
    position: absolute;
    inset: 1px;
    border:6px solid #070a1c;
    z-index: 3;
    border-radius: 50px;
    overflow: hidden;
}
.image-wrapper .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}
.sidebar-header .name{
    margin-top: 15px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;
}
.social-icon{
    color: var(--font-color);
}
/* sidebar menus  */
.menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menu-item{
    list-style: none;
    text-align: left;
    width: 200px;
}
a.menu-link {
    text-decoration: none;
    display: block;
    color: var(--font-color);
    box-shadow: 1px 1px 2px 1px cadetblue;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    
}
a.menu-link.active{
    background-color: var(--hover-color);
}
a.menu-link:hover{
    background-color: var(--hover-color);
    color: white;
    transform: scale(1.1, 1);
}
a.menu-link .menu-icon{
    width:15%;
    margin-right:10px;
}
/* content style  */
#content{
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top:0;
    right: 0;
    background-color: var(--color-dark-blue);
}
#content.active {
    width: 100%;
}
/* home */
#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typing{
    display: flex;
    align-items: center;
}
.typing-text{
    width: 100%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: var(--font-Mooli);
    font-size: 2em;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
#about{
    height:100vh;
}
@media screen and  (max-width: 480px) {
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left:0;
    }
    #content{
        width: 100%;
    }
    #content.active{
        width:calc(100% - 250px);
    }
    #sidebarCollapse{
        left: 10px;
    }
    #sidebarCollapse.active{
        left:260px;
    }
    
}
@media screen and  (max-width: 768px) {
    #sidebar{
        margin-left: -250px;
        
    }
    #sidebar.active{
        margin-left:0;
    }
    #content{
        width: 100%;
    }
    #content.active{
        width:calc(100% - 250px);
    }
    #sidebarCollapse{
        left: 10px;
    }
    #sidebarCollapse.active{
        left:260px;
    }
}
@media screen and  (max-width: 1040px) {

}
@media screen and  (max-width: 1200px) {}
@media screen and  (max-width: 1600px) {}
